.main {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 400px;   /* Keeps it neat in center */
  text-align: center;
}


.main h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
  text-align: center;
}